
.wd-outer-div-format {
    margin: auto;
    width: 750px;
    font-family: sans-serif;
}

/*First block begin*/
.wd-search-div {
    padding-left: 16px;
    padding-top: 10px;
    padding-bottom: 10px;
    height: 40px;
}

.wd-bg-color-grey {
    background: rgb(47, 51, 54);
}

.fa-search {
    color: gray;
}

.wd-search-icon {
    height: 40px;
    width: 50px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.wd-searchbar {
    width: 80%;
    height: 35px;
    margin-left: -7px;
    border-width: 0;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.fa-gear {
    color: blue;
}

.wd-settings {
    float: right;
    margin-right:12px;
    margin-top: 10px;
}

.wd-tabs-div {
    height: 25px;
    padding: 16px;
    font-size: 15px;
}

.wd-selected-tab {
    color: rgb(29,161,242);
    border-bottom: rgb(29,161,242) solid;
    padding-bottom: 16px;
    margin-right: 16px;
}

.wd-unselected-tab {
    padding:16px;
    margin: 16px;
}

.wd-unselected-last-tab {
    padding-left: 16px;
    padding-right: 12px;
    margin-left: 16px;
    margin-right: 0;
}

.wd-tabs-font-width{
    font-size: 15px;
}

/* End of first block*/

/* Small mid space*/
.wd-mid-div {
    padding: 5px;
    border-top: 3px;
    background-color: #202020;
}
/* End of small mid space */

/* Last block begin*/
.wd-simple-suggested-post {
    padding: 16px;
}

.wd-topic-dots {
    float:right;
}

.wd-title-div {
    padding-top: 3px;
    padding-bottom: 3px;
}

.wd-suggested-post{
    padding: 16px;
    border-width: 1px;
    height: 100px;
}

.wd-post-content-div {
    padding-top: 10px;
}

/*Common classes */
.wd-div-borders {
    border-color: rgb(47, 51, 54);
    border-width: 1px;
    border-style: solid;
}


.wd-graded-out-font-color {
    color: rgb(110, 118, 125);
}

.wd-white-font-color {
    color: white;
}

.wd-font-13 {
    font-size: 13px;
}

.wd-image {
    float: right;
    border-radius: 20px;
    width: 100px;
    height: 100px;
}

