.wd-graded-out-font-color {
    color: rgb(110, 118, 125);
}

.wd-graded-out-border {
    border-color: rgb(110, 118, 125);
    border-style: solid;
    border-width: 2px;
}

.wd-border-image-top {
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

.wd-border-image-bottom {
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

.wd-rounded-border {
    border-radius: 20px;
}

.wd-profile-pic-size {
    width: 50px;
    height: 50px;
    border-radius: 50px;
}

.wd-resize-icon{
    font-size: smaller;
    width:14px;

}